input{
  border-color: gray;
  height: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-left: 35%;
  width: 400px;
  text-align: center;
  
}

h1{
  text-align: center;
  text-decoration: underline;
}

p{
  display: flex;
  border: 2px solid ;
  height: 20px;
  width: 200px;
  padding: 4px;
  float: left;
  margin-left: 30px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
/* #refresh{
  color: blue;
  font-size: 2em;
  margin: 200px;
  animation:load;
  animation-duration: 1s;
  transition:2s;
  -webkit-transition:2s;
  -moz-transition:2s;
  -ms-transition:2s;
  -o-transition:2s;
  -webkit-animation:load;
} */

/* @keyframes load{
  from{ color: blue;
      font-size:2em
  }
  from{ color: aqua;
      font-size:1.8em
  }
} */